/.vscode
/accordion.html
/actors_table.html
/assignment1.html
/assignment2.html
/asynchronous-cafe.html
/badge.html
/boff.png
/bon.png
/cards.html
/counter.html
/dom-ass1.html
/dom-ass10.html
/dom-ass2.html
/dom-ass3.html
/dom-ass4.html
/dom-ass5.html
/dom-ass6.html
/dom-ass7.html
/dom-ass8.html
/dom-ass9.html
/form-practice.html
/gender_list.html
/images.html
/img.jpg
/input-display.html
/listNames.html
/promise-ride-booking.html
/responsive-checkbox.html
/responsive.html
/sample.html
/snippet-1.html
/snippet-2.html
/snippet-3.html
/snippet-4.html
/table.html